.main {
  padding: 3rem 4rem;
}
.heading {
  margin-bottom: 2rem;
}

.input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border-color: gray;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 250px;
}

.anime {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.anime__title {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1rem;
}

.anime__image {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 160/225;
}
.page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem 1.5rem;
}
